{
  "name": {{ package_name_json }},
  "version": "0.0.0",
  "type": "module",
  "engines": {
    "node": {{ node_engine_json }}
  },
  "dependencies": {
    "koffi": "^2.15.6"
  },
  "exports": "./index.js"
}
