{
  "name": {{ package_name_json }},
  "version": "0.0.0",
  "type": "module",
  "engines": {
    "node": {{ node_engine_json }}
  },
  "exports": {
    ".": {
      "types": "./index.d.ts",
      "import": "./index.js"
    }
  }
}
