{{ enum_def.doc_comment }}export const {{ enum_def.name }} = Object.freeze({
{% for variant in enum_def.variants %}{{ variant.doc_comment }}  {{ variant.property_name }}: {{ variant.value_literal }},
{% endfor %}});
