const {{ converter.converter_name }} = new (class extends AbstractFfiConverterByteArray {
  allocationSize(value) {
    const enumValue = uniffiRequireTaggedEnumValue({{ converter.enum_type_name }}, value);
    switch (enumValue.tag) {
{% for variant in converter.variants %}      case {{ variant.tag_literal }}:
        return {{ variant.allocation_size_expr }};
{% endfor %}      default:
        throw new UnexpectedEnumCase(`Unexpected {{ converter.enum_name }} case ${String(enumValue.tag)}.`);
    }
  }

  write(value, writer) {
    const enumValue = uniffiRequireTaggedEnumValue({{ converter.enum_type_name }}, value);
    switch (enumValue.tag) {
{% for variant in converter.variants %}      case {{ variant.tag_literal }}:
        writer.writeInt32({{ variant.tag_index }});
{% for field in variant.write_fields %}        {{ field.converter_expr }}.write({{ field.value_expr }}, writer);
{% endfor %}        return;
{% endfor %}      default:
        throw new UnexpectedEnumCase(`Unexpected {{ converter.enum_name }} case ${String(enumValue.tag)}.`);
    }
  }

  read(reader) {
    const enumTag = reader.readInt32();
    switch (enumTag) {
{% for variant in converter.variants %}      case {{ variant.tag_index }}:
        return {{ variant.read_return_expr }};
{% endfor %}      default:
        throw new UnexpectedEnumCase(`Unexpected {{ converter.enum_name }} case ${String(enumTag)}.`);
    }
  }
})();
