export declare class {{ object.name }} extends UniffiObjectBase {
{% if object.has_primary_constructor %}  constructor({{ object.primary_constructor_params }});
{% else %}  protected constructor();
{% endif %}{% for constructor in object.constructors %}  static {{ constructor.name }}({{ constructor.params }}): {{ constructor.return_type }};
{% endfor %}{% for method in object.methods %}  {{ method.name }}({{ method.params }}): {{ method.return_type }};
{% endfor %}}
