import koffi from "koffi";
import {
  configureRuntimeHooks,
  ffiFunctions,
  getFfiBindings,
  load as loadFfi,
} from "./{{ namespace }}-ffi.js";
import { createForeignBytes, RustBufferValue } from "./runtime/ffi-types.js";
import {
  AbstractFfiConverterByteArray,
  FfiConverterArray,
  FfiConverterBool,
  FfiConverterBytes,
  FfiConverterDuration,
  FfiConverterFloat32,
  FfiConverterFloat64,
  FfiConverterInt8,
  FfiConverterInt16,
  FfiConverterInt32,
  FfiConverterInt64,
  FfiConverterMap,
  FfiConverterOptional,
  FfiConverterString,
  FfiConverterTimestamp,
  FfiConverterUInt8,
  FfiConverterUInt16,
  FfiConverterUInt32,
  FfiConverterUInt64,
} from "./runtime/ffi-converters.js";
import { UnexpectedEnumCase } from "./runtime/errors.js";
import { rustCallAsync } from "./runtime/async-rust-call.js";
import {
  clearPendingForeignFutures,
  createCallbackRegistry,
  freePendingForeignFuture,
  invokeAsyncCallbackMethod,
  invokeCallbackMethod,
} from "./runtime/callbacks.js";
import {
  createObjectConverter,
  createObjectFactory,
  UniffiObjectBase,
  UNIFFI_OBJECT_HANDLE_SIZE,
} from "./runtime/objects.js";
import {
  CALL_SUCCESS,
  createRustCallStatus,
  defaultRustCaller,
} from "./runtime/rust-call.js";

export const componentMetadata = Object.freeze({
  namespace: {{ namespace_json }},
  packageName: {{ package_name_json }},
  cdylibName: {{ cdylib_name_json }},
  nodeEngine: {{ node_engine_json }},
  libPathLiteral: {{ lib_path_literal_json }},
  bundledPrebuilds: {{ bundled_prebuilds }},
  manualLoad: {{ manual_load }},
});

export { ffiMetadata } from "./{{ namespace }}-ffi.js";
{% if manual_load %}
export { load, unload } from "./{{ namespace }}-ffi.js";
{% endif %}

{{ public_api_js }}

if (!componentMetadata.manualLoad) {
  loadFfi();
}
