export const componentMetadata = Object.freeze({
  namespace: {{ namespace_json }},
  packageName: {{ package_name_json }},
  cdylibName: {{ cdylib_name_json }},
  nodeEngine: {{ node_engine_json }},
  libPathLiteral: {{ lib_path_literal_json }},
  manualLoad: {{ manual_load }},
});

export { ffiMetadata } from "./{{ namespace }}-ffi.js";
{% if manual_load %}
export { load, unload } from "./{{ namespace }}-ffi.js";
{% endif %}

{{ public_api_js }}
