import koffi from "koffi";
import {
  configureRuntimeHooks,
  ffiFunctions,
  getFfiBindings,
  load as loadFfi,
} from "./{{ namespace }}-ffi.js";
{% if !ffi_types_imports.is_empty() %}
import {
{% for item in ffi_types_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/ffi-types.js";
{% endif %}
{% if !ffi_converter_imports.is_empty() %}
import {
{% for item in ffi_converter_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/ffi-converters.js";
{% endif %}
{% if !error_imports.is_empty() %}
import {
{% for item in error_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/errors.js";
{% endif %}
{% if !async_rust_call_imports.is_empty() %}
import {
{% for item in async_rust_call_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/async-rust-call.js";
{% endif %}
{% if !callback_imports.is_empty() %}
import {
{% for item in callback_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/callbacks.js";
{% endif %}
{% if !object_imports.is_empty() %}
import {
{% for item in object_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/objects.js";
{% endif %}
{% if !rust_call_imports.is_empty() %}
import {
{% for item in rust_call_imports %}
  {{ item }},
{% endfor %}
} from "./runtime/rust-call.js";
{% endif %}

export const componentMetadata = Object.freeze({
  namespace: {{ namespace_json }},
  packageName: {{ package_name_json }},
  cdylibName: {{ cdylib_name_json }},
  nodeEngine: {{ node_engine_json }},
  libPathLiteral: {{ lib_path_literal_json }},
  bundledPrebuilds: {{ bundled_prebuilds }},
  manualLoad: {{ manual_load }},
});

export { ffiMetadata } from "./{{ namespace }}-ffi.js";
{% if manual_load %}
export { load, unload } from "./{{ namespace }}-ffi.js";
{% endif %}

{{ public_api_js }}

if (!componentMetadata.manualLoad) {
  loadFfi();
}
