{{ namespace_doc_comment }}import { UniffiObjectBase } from "./runtime/objects.js";

export interface ComponentMetadata {
  namespace: string;
  packageName: string;
  cdylibName: string;
  nodeEngine: string;
  libPathLiteral: string | null;
  bundledPrebuilds: boolean;
  manualLoad: boolean;
}

export declare const componentMetadata: Readonly<ComponentMetadata>;

export { ffiMetadata } from "./{{ namespace }}-ffi.js";
{% if manual_load %}
export { load, unload } from "./{{ namespace }}-ffi.js";
{% endif %}

{{ public_api_dts }}
