export const ffiMetadata = Object.freeze({
  namespace: {{ namespace_json }},
  cdylibName: {{ cdylib_name_json }},
  libPathLiteral: {{ lib_path_literal_json }},
  manualLoad: {{ manual_load }},
});
